.user-management-main-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-management-container {
  width: 1000px;
  padding: 20px;
  border: 1px solid #ccc;

  background-color: #f9f9f9;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.tabs {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.tab {
  padding: 10px 20px;
  background: #f1f1f1;
  border-bottom: 1px solid #ccc; /* Ensure all tabs have a bottom border */
}

.tab:hover {
  background: #fff;
}

.tab.active {
  border-top: 4px solid blue; /* Blue top border for the active tab */
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: none; /* Remove bottom border for the active tab */
  background: #fff; /* Ensure the background color matches the container */
  margin-bottom: -1px; /* Overlap with tab-content to hide container border */
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-user-btn {
  padding: 10px 20px;
  background-color: gold;
  color: black;
  border: none;
  cursor: pointer;
}

.add-user-btn:hover {
  background-color: #45a049;
}

.search-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  margin-top: -1px; /* Ensure the tab-content starts just under the tabs */
}
