.form-container {
  margin: 20px auto;
  /* One-third of the screen */
  /* width: 33.33%; */
  /* Minimum width to ensure it's not too narrow on small screens */
  /* min-width: 300px; */
  /* Maximum width to avoid it being too wide on large screens */
  width: 1000px;
  padding: 20px;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  background-color: #f9f9f9;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.tabs {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* gap: 10px; */
  /* margin-bottom: 20px; */
  /* justify-content: center; */
  display: flex;
  cursor: pointer;
  width: 100%;
}

.tab {
  /* border: 1px solid #ccc; */
  /* padding: 10px 15px; */
  /* border-radius: 4px; */
  /* transition: background 0.3s, border-top 0.3s; */
  /* background: #f1f1f1; */
  /* cursor: pointer; */
  padding: 10px 20px;
  background: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.tab:hover {
  background: #e9e9e9;
}

.tab.active {
  /* background: #fff;
  border-top: 4px solid blue; */
  border-top: 4px solid blue; /* Blue top border for the active tab */
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: none; /* Remove bottom border for the active tab */
  background: #fff; /* Ensure the background color matches the container */
  margin-bottom: -1px; /* Overlap with tab-content to hide container border */
}

.tab-content {
  margin-top: 20px;
}
