.container {
  margin: 20px;
  width: 100%;
}

.tabs {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.tab {
  background: #f1f1f1;
  border: 1px solid #ccc;
}

.tab:hover {
  background: #fff;
}

.tab.active {
  border-top: 4px solid blue;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
