.form-radio-container {
  margin-bottom: 1rem;
}

.form-radio-field {
  display: flex;

  gap: 1rem;
}

.form-radio-field-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  width: 150px;
  text-align: end;
}

.form-radio-field-input {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
  margin-right: 1rem;
  cursor: pointer;
}

.form-radio-option {
  display: flex;
  text-align: start;
  margin-bottom: 1rem;
  align-items: start;
  cursor: pointer;
}

.form-radio-field-value-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  width: 300px;
}

small {
  color: red;
  margin-top: 0.5rem;
}
